html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}


/* Header */
.nav {
  float:right; 
  width:340px; 
} 

.nav-pills li a {
  color: #d8192f;                  
  border:1px solid #d8192f; 
  margin-left:10px; 
  text-align:center; 
  width:100px; 
  
  text-decoration: none;
  
} 

.nav-pills li.active 
	a:hover {
  	background-color: #d8192f; 
}

/* Jumbotron */
.jumbotron {
    background: url("https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg") no-repeat center center;   
    background-size:cover;   
    height: 500px; 
    padding-top: 25px; 
    margin-bottom: 0; 
} 

.jumbotron h2:first-child {
    margin:120px 0 0; 
} 

.jumbotron h2 {
    color:#fff; 
    font-size: 60px; 
    text-align: right; 
    margin:0; 
    width:100%; }


/* Banner */
.banner, .supporting {
  text-align: center;
  padding-top: 40px;
}

.banner,.footer{
  background-color:#36343f;
  height:180px; 
  color: #fff;
}
.banner .btn{
  color: rgba(216,25,47,.5);
}
.section .btn{
  background-color: rgba(216,25,47,.5);
border: 0px;
margin-top: 24px;
color: #fff;
}
.nav-pills li.active a, 
.section .btn:hover, 
.nav-pills li a:hover {
  background-color:rgba(216,25,47,1); 
  box-shadow:0 2px 4px rgba(0,0,0,.5); 
  color:#fff; }

.section .page-header{
  text-align: center;
}

.section  h3{
  text-align: center;
  
  padding-bottom: 20px;
}
 .section .row{
  border-top: 1px solid #ededed;
}
.section h4 {
  color:red;
}


 
.section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.footer {
  height:100px; 
  padding: 40px 0px 100px; 
  margin-top: 80px; 
  background-color: #eee; 
  font-size: 14px; 
} 
.footer p {
  color:black;
  float:left; 
  width:33%;
  display: inline;
} 
.footer a {
  color: #d8192f; 
} 
.a-center {
  text-align:center; 
} 
.a-right {
  text-align:right;
}



/* Media Queries */
@media (max-width: 680px) { 
  .header h1 { 
    margin-bottom: 20px; 
    text-align: center; 
  } .nav { 
    float: none; 
    margin: 0 auto; } 
  .banner { 
    height: 220px; 
  } 
  .nav-pills li:first-child a  { 
    margin-left: 0; 
  } 
}